html,body{
	font-family: "Segoe UI", Verdana, sans-serif;
	padding: 0;
	margin: 0;
}

button{
	background-color: #FFFFFF;
	border: 2px solid #44883e;
	min-height: 35px;
	min-width: 35px;
	outline:none;
}

#header{
	background-color: #44883e;
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
}

#header > #inputbox{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 90%;
	height: 100%;
}

#header > #inputbox > *{
	display:block;
}

#header > #inputbox > input{
	float:left;
	height: 33px;
	flex-grow: 1;
	border:none;
	outline: none;
	padding-left: 10px;
	padding-right: 10px;
}

#header > #inputbox > button{
	height: 35px;
	flex-grow: 0;
	border-left:2px solid #44883e;
	border-right:none;
	border-top:none;
	border-bottom:none;
}

@media screen and (min-width: 556px){
	#header > #inputbox{
		width: 500px;
	}
	#timecontainer > #timedisplay{
		width: 470px;
	}
	div#vertlogcontainer{
		width: 500px;
	}
}

#timecontainer{
	display: flex;
	align-items: center;
	justify-content: center;
}

#timedisplay{
	margin-top: 20px;
	margin-bottom: 20px;
	padding: 10px;
	border: 5px solid #44883e;
	width:calc(90% - 30px);
	margin-left: 0;
	margin-right: 0;
}

#linetwo{
	display: flex;
	align-items: center;
	justify-content: center;
}

#elapsedtime{
	font-size: 3em;
	display: block;
	margin-top: 10px;
	margin-bottom: 10px;
}

#linethree{
	display: flex;
	align-items: center;
	justify-content: space-around;
	margin-top: 10px;
	margin-bottom: 10px;
}

#linethree > button{
	display: block;
}

#linethree > button:disabled{
	color: #808080;
	border: 2px solid #808080;
	font-style: italic;
	background-color: #DDDDDD;
}

#logcontainer{
	display: flex;
	align-items: center;
	justify-content: center;
}

#vertlogcontainer{
	width: 90%;
	display: flex;
	flex-wrap: wrap;
}

#log{
	resize: none;
	width: 100%;
}

#vertlogcontainer > button{
	margin-top: 10px;
}
